{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
      <section class="articles">
          <article>
             <h2>Titre de l'article</h2>
             <div class="metadata">
                Ecrit le 14/09/2017 à 20:18 dans la catégorie Politique
             </div>
            <div class="content">
               <div style="margin-bottom:2em;"> 
                    <img src="http://placehold.it/350x150" alt="|">
                    <p>
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////<br>
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////<br>
                        
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////
                    </p>
                    <p>
                    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
                    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
                    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
                    </p>
                    <a class="btn btn-primary" href="{{ path('blog_show') }}">Lire la suite</a><br>
                </div>

               <div style="margin-bottom:2em;"> 
                    <img src="http://placehold.it/350x150" alt="|">
                    <p>
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////<br>
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////<br>
                        
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////
                    </p>
                    <p>
                    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
                    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
                    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
                    </p>
                    <a class="btn btn-primary" href="{{ path('blog_show') }}">Lire la suite</a><br>
                </div>

               <div style="margin-bottom:2em;"> 
                    <img src="http://placehold.it/350x150" alt="|">
                    <p>
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////<br>
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////<br>
                        
                        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////
                    </p>
                    <p>
                    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
                    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
                    ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
                    </p>
                    <a class="btn btn-primary" href="{{ path('blog_show') }}">Lire la suite</a><br>
                </div>
             </div>
          </article>
      </section>
{% endblock %}
