{% extends 'base.html.twig' %}

{% block body %}

    <img src="http://placehold.it/350x150" alt="|">
    <p>
        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////<br>
        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////<br>
        
        /////////////\\\\\\\\\\\\\\\\\\\\\\\\///////////////////
    </p>
    <p>
        ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
        ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    </p>
    <hr>
    <p>
        ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
        ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
        ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
        ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
        ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||<br>
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
        ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    </p>

{% endblock %}