{% extends 'base.html.twig' %}

{% block body %}

<h1> {{ title }}</h1>
{%  if age > 18 %}
   <p> Tu es majeur </p>
{% else %}
   <p> Tu es mineur </p>
{%  endif %}
<p> /////////////////////////////////////////////////////////////////////////////////<br>
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
    /////////////////////////////////////////////////////////////////////////////////<br>
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
</p>


<p> 
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
    /////////////////////////////////////////////////////////////////////////////////<br>
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<br>
</p>
{% endblock %}